In [1]:
from selenium import webdriver

In [2]:
url = 'https://www.naver.com'
browser = webdriver.Chrome()
browser.get(url)

In [5]:
search = browser.find_element_by_id('query')

In [6]:
search.clear()

In [7]:
search_text = '코로나 현황'
search.send_keys(search_text)

In [8]:
search.submit()

In [9]:
from bs4 import BeautifulSoup

In [18]:
soup = BeautifulSoup(browser.page_source, 'html.parser')

In [23]:
date = soup.select('dd.date')[0].text.replace('.', '-')
date

'8-24'

In [20]:
local = int(soup.select('dd._y_first_value')[0].text.replace(',', ''))
local

2113

In [21]:
oversea = int(soup.select('dd._y_second_value')[0].text.replace(',', ''))
oversea

41

In [26]:
rows = []

In [30]:
soup = BeautifulSoup(browser.page_source, 'html.parser')
date = soup.select('dd.date')[0].text.replace('.', '-')
local = int(soup.select('dd._y_first_value')[0].text.replace(',', ''))
oversea = int(soup.select('dd._y_second_value')[0].text.replace(',', ''))
rows.append(['2021-' + date, local, oversea])
rows

[['2021-8-25', 1829, 53],
 ['2021-8-24', 2113, 41],
 ['2021-8-23', 1468, 39],
 ['2021-8-22', 1369, 48]]

In [32]:
import pandas as pd

In [33]:
pd.DataFrame(rows, columns=['일자', '국내발생', '해외유입'])

          일자  국내발생  해외유입
0  2021-8-25  1829    53
1  2021-8-24  2113    41
2  2021-8-23  1468    39
3  2021-8-22  1369    48

In [36]:
columns = browser.find_elements_by_css_selector('div.column')

In [39]:
import time

In [41]:
rows = []

for column in columns:
    column.click()
    time.sleep(1)

    soup = BeautifulSoup(browser.page_source, 'html.parser')
    
    date = soup.select('dd.date')[0].text.replace('.', '-')
    local = int(soup.select('dd._y_first_value')[0].text.replace(',', ''))
    oversea = int(soup.select('dd._y_second_value')[0].text.replace(',', ''))
    
    rows.append(['2021-' + date, local, oversea])

In [42]:
rows

[['2021-8-19', 1999, 51],
 ['2021-8-20', 1811, 66],
 ['2021-8-21', 1588, 38],
 ['2021-8-22', 1369, 48],
 ['2021-8-23', 1468, 39],
 ['2021-8-24', 2113, 41],
 ['2021-8-25', 1829, 53]]

In [43]:
df = pd.DataFrame(rows, columns=['일자', '국내발생', '해외유입'])

In [44]:
df

          일자  국내발생  해외유입
0  2021-8-19  1999    51
1  2021-8-20  1811    66
2  2021-8-21  1588    38
3  2021-8-22  1369    48
4  2021-8-23  1468    39
5  2021-8-24  2113    41
6  2021-8-25  1829    53

In [45]:
df.values

array([['2021-8-19', 1999, 51],
       ['2021-8-20', 1811, 66],
       ['2021-8-21', 1588, 38],
       ['2021-8-22', 1369, 48],
       ['2021-8-23', 1468, 39],
       ['2021-8-24', 2113, 41],
       ['2021-8-25', 1829, 53]], dtype=object)

In [48]:
row = df.values[0]
row

array(['2021-8-19', 1999, 51], dtype=object)

MySQL에 데이터베이스(이름은 알아서 지으셈)를 만들고
corona라는 테이블을 만든 후에

import pymysql

pymysql을 이용하여 MySQL 데이터베이스에 대한 connection 생성
connection으로부터 cursor 생성

In [54]:
for row in df.values:
    sql = "INSERT INTO corona VALUES ('{}', {}, {})".format(row[0], row[1], row[2])
    # 또는
    #sql = "INSERT INTO corona VALUES ('{}', {}, {})".format(*row)
    # 또는
    #sql = f"INSERT INTO corona VALUES ('{row[0]}', {row[1]}, {row[2]})"
    커서.execute(sql)
    
커서.commit()
커서.close()